.btn-lg{
    width: 45em;
    border-radius: 25px;
    background-color: blueviolet;
    border: 1px solid blueviolet;
}

.error {
    width: 40%;
    position: fixed;
    z-index: 1000000000;
    background-color: #d9381e;
    text-align: center;
    bottom: 10%;
    left: 30%;
    padding: 15px;
    color:white;
  }
  
  .show {
    opacity: 1;
  }
  
  .hide {
    opacity: 0;
  }

.btn-lg1{

    width: 45em;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid rgb(202, 198, 198);
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-control {
    display: block;
    width: 25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.7;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.divider-text {
    position: relative;
    text-align: center;
  
    
}
.divider-text span {
    /* padding: 5px; */
    font-size: 15px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 88%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 30px;
    z-index: 1;
}


.mb-3[_ngcontent-brc-c45] > .form-control[_ngcontent-brc-c45] {
    padding: 0.9rem 0.4rem;
    width: 200px;
}

a {
    color: blueviolet;
    text-decoration: underline;
}

.form-check-input:checked {
    background-color: blueviolet;
    border-color: blueviolet;
}
.google-logo{
    height: 18px;
    margin-right: 8px;
    min-width: 18px;
    width: 18px;
}






@media only screen and (max-width: 640px) {

    .form-control {
        display: block;
        width: 17rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.7;
        color: #212529;
        background-color: #fff;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 10.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

} 


@media only screen and (max-width: 1259px) {

    .form-control {
        display: block;
        width: 19rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.7;
        color: #212529;
        background-color: #fff;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        appearance: none;
        border-radius: 10.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

} 





